html
  head
    title S3 Upload Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    script(src='js/index.js')
  body
    div.container
      div.content
        div.page-header
          h1 Host your event !
        div.row
          div.col-md-10
            p Click on the button to create an event
            input#inputName(type='text')
            button#createEvent Coucou
            p#eventId
            a#yourEvent(target='_blank')
