html
  head
    title S3 Upload Demo
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js')
    script(src="js/client.js")
    script.
      $(function() {
      initS3FileUpload($('#fileInput'));
      });
  body
    h1 S3 Upload Demo
    p
      | Sorry, but you can
      b only upload files less than a kilobyte here
      | .
    p
      | Here's an image that you can use:
    form
      input#fileInput(type='file', name='file')
