html
  head
    title S3 Upload Demo
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js')
    script(src="js/upload.js")
    script.
      $(function() {
      initS3FileUpload($('#fileInput'),'#{id}');
      });
  body
    div.container
      div.content
        div.page-header
          h1 Welcome to the event #{eventName}
          p Even that my ID is #{id}
          br
          p
            | Sorry, but you can only upload png, jpg or zip
            b  less than 10 MegaBytes here
            | .
          p You can use button below or drag and drop.
        div.row
          div.col-md-4#colOne
            a#S3URL
            p#S3message
            form
              .input-group
                span.input-group-btn
                  span.btn.btn-default.btn-file
                    | Browse &mldr;
                    input#fileInput(type='file', name='file')
                input#inputText.form-control(type='text', readonly='')
            img#imup
          div.col-md-4
            center
              a(href="http://dbtmtfvjc9ybr.cloudfront.net/zip/"+'#{id}'+'.zip' download)
                button.btn.btn-default
                  span.glyphicon.glyphicon-folder-close(aria-hidden="true") Download archive
