option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:customoption:
      NewSignupEmail: alexandre.malingreau@student.uclouvain.be
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    CDN : dbtmtfvjc9ybr.cloudfront.net
