option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:customoption:
      NewSignupEmail: alexandre.malingreau@student.uclouvain.be
  aws:elasticbeanstalk:application:environment:
    STARTUP_SIGNUP_TABLE: nodejs-tutorial
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    S3_ACCESS_KEY: AKIAJL5N6MKBEKM3BLNA
    S3_SECRET_KEY: 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
    S3_BUCKET: lingi2145-upload
