option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:customoption:
      NewSignupEmail: alexandre.malingreau@student.uclouvain.be
  aws:elasticbeanstalk:application:environment:
    STARTUP_SIGNUP_TABLE: nodejs-tutorial
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
